:root {
  --color-white: #ffffff;
}
@font-face {
  font-family: "Metrophobic";
  src: url("/dalton-website/fonts/Metrophobic.otf");
}
@font-face {
  font-family: "Header";
  src: url("/dalton-website/fonts/header.otf");
}
* {
  margin: 0;
  padding: 0;
  font-family: "Metrophobic";
  box-sizing: border-box;
}

.first-navbar {
  display: flex;
  justify-content: flex-start;
  gap: 270px;
  border: 1px solid #cdcdcd;
  border-style: none none solid none;
  font-size: 10px;
  padding: 8px 3px 8px 305px;
  margin-bottom: 1px;
}

.lang-img {
  height: 10px;
  padding-right: 4px;
}
.first-nav-img-right-side {
  padding-right: 5px;
  height: 10px;
}
.first-nav-img-left-side {
  height: 13px;
}

.left-side-first-nav > a {
  padding-right: 18px;
  text-decoration: none;
  color: #cdcdcd;
}
.left-side-first-nav > a:hover {
  text-decoration: underline;
}

.right-side-first-nav > img {
  padding-right: 300px;
}
.right-side-first-nav {
  display: flex;
  gap: 70px;
}
.social {
  display: flex;
  gap: 10px;
}
.social > a:hover {
  text-decoration: underline;
}
.select-lang > a {
  color: #cdcdcd;
  text-decoration: none;
}

.logo-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 400px;
  padding-top: 15px;
  margin-bottom: 23px;
}
.logo {
  padding-left: 305px;
}

.logo > img {
  height: 25px;
}

.main-menu {
  font-size: 10px;
  display: flex;
  align-items: center;
  gap: 27px;
}
.main-menu > img {
  height: 20px;
}
.main-menu > a {
  text-decoration: none;
  color: #3b3b3b;
  font-weight: 900;
  font-family: Metrophobic;
}

.main-menu > a:hover {
  text-decoration: underline;
}
@import "about.scss";
