.clients {
  h2 {
    padding-bottom: 10px;
  }

  .client-head {
    padding-bottom: 21px;
    p {
      text-align: center;
      color: var(--color-text);
      text-transform: uppercase;
    }
  }
  .client-head p:last-child {
    font-size: 20px;
    padding: 0 450px;
    text-transform: none;
    color: #676666;
  }
  .line {
    border-top: 2px solid $orange;
    width: 50px;
    margin: 25px auto;
  }
  .slide {
    display: flex;
    justify-content: space-around;
    padding: 0 170px;
  }
  .slide-button {
    width: 45px;
    height: 45px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid gray;
    vertical-align: center;
    &:hover {
      background-color: #ece8e8;
    }
    &:active {
      background-color: #cbc8c8;
    }
  }
  .job {
    text-align: center;
    text-transform: capitalize;
    font-size: 13px;
  }
}
