.first-navbar {
  display: flex;
  justify-content: flex-start;
  gap: 270px;
  border: 1px solid #cdcdcd;
  border-style: none none solid none;
  font-size: 15px;
  padding: 8px 3px 8px 380px;
  margin-bottom: 1px;
}

.lang-img {
  height: 10px;
  padding-right: 4px;
}
.first-nav-img-right-side {
  padding-right: 5px;
  height: 10px;
}
.first-nav-img-left-side {
  height: 13px;
}

.left-side-first-nav > a {
  padding-right: 18px;
  text-decoration: none;
  color: #cdcdcd;
}
.left-side-first-nav > a:hover {
  text-decoration: underline;
}

.right-side-first-nav > img {
  padding-right: 300px;
}
.right-side-first-nav {
  display: flex;
  gap: 90px;
}
.social {
  display: flex;
  gap: 10px;
}
.social > a:hover {
  text-decoration: underline;
}
.select-lang > a {
  color: #cdcdcd;
  text-decoration: none;
}
